<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="DBConnectionString"
			 connectionString="Data Source=term3group2project.database.windows.net; 
			 Initial Catalog=Group2Someren; 
			 User Id=group2; 
			 Password=ProjectTerm3;
			 "/>
	</connectionStrings>
</configuration>